.fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.fullscreen__bg,
.fullscreen__bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.fullscreen__content {
  position: relative;
  color: $white;
  text-align: center;
  padding-bottom: 100px;
}