.site-header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: $white;
  box-shadow: 0 1px 2px rgba($black, 0.1);
}

.site-header,
.site-header__spacer {
  width: 100%;
  height: 60px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 $size-2;
  background-color: $white;

  @include tablet-up {
    padding: 0 $size-4;
  }
}

.logo {
  margin: 0;
  line-height: 1;
  font-weight: 700;

  .tablet-down {
    @include tablet-up {
      display: none;
    }
  }

  .tablet-up {
    display: none;
    @include tablet-up {
      display: inline;
    }
  }
}

.logo__container {
  display: flex;
  justify-content: center;
  flex: 1;

  @include tablet-up {
    flex-basis: auto;
    flex-grow: 0;
    justify-content: flex-start;
  }
}

.logo__link {
  display: flex;
  align-items: center;
}

.social {
  display: flex;
  justify-content: flex-end;
  flex: 3;

  @include tablet-up {
    flex-basis: auto;
    flex-grow: 0;
    padding: 0 $size-2;
    justify-content: flex-start;
  }
}

.social__items {
  display: flex;
}

.social__item {
  display: flex;
}

.social__link {
  display: flex;
  align-items: center;
  padding: $size-0;
  font-size: $size-3;
  line-height: 1;
  transition: color 0.25s ease-in-out;

  @include tablet-up {
    padding: $size-2;
  }

  &:hover {
    color: $accent;
  }
}

.menu {
  margin-left: auto;
  width: 100%;
  flex-basis: 100%;
  position: fixed;
  top: 60px;
  left: 0;
  transform: translateY(calc(-100% - 6px));
  transition: 0.25s ease-in-out;
  z-index: -1;
  padding: $size-1 0 $size-3;
  background-color: $white;

  &.is-active {
    transform: translateY(0);
  }

  @include tablet-up {
    position: static;
    display: flex;
    width: auto;
    flex-basis: auto;
    transform: none;
    z-index: 0;
    background-color: transparent;
  }
}

.menu__item {
  transform: translateX(-10px);
  opacity: 0;
  transition: 0.25s ease-in-out;

  .menu.is-active & {
    transform: translateX(0);
    opacity: 1;
    transition: 0.25s ease-in-out 0.25s;
  }

  @include tablet-up {
    display: flex;
    margin-left: $size-0;
    opacity: 1;
    transform: none;
  }

  &--home {
    @include tablet-up {
      display: none;
    }
  }
}

.menu__link {
  display: flex;
  align-items: center;
  font-size: $size-2;
  letter-spacing: $size-000;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
  padding: $size-1 $size-3;

  @include tablet-up {
    padding: $size-1;
  }

  &:hover {
    color: $accent;
  }
}
