.menu-toggle {
  display: none;
  padding: 0;
  flex: 3;

  @include mobile-only {
    display: flex;
    align-items: center;
  }  
}

.menu-toggle__lines {
  position: relative;
  width: $size-4;
  height: 30px;
}

.menu-toggle__line {
  position: absolute;
  height: $size-0;
  width: 30px;
  background-color: $black;
  border-radius: 2px;

  &--1 {
    top: 0;
    left: 0;
  }

  &--2 {
    top: 12px;
    left: 6px;
  }

  &--3 {
    top: 24px;
    left: 12px;
  }
}