.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  &--md {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }

  &--sm {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  &--xs {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  &--xs {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }

  &--pad-side-md {
    padding-left: $size-3;
    padding-right: $size-3;
  }
}
