*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-primary;
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  padding-top: 60px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: $font-primary;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

iframe {
  max-width: 100%;
}

video {
  width: 100%;
  height: auto;
}

picture,
img {
  max-width: 100%;
}

figure {
  margin: 0;
}

button {
  background-color: transparent;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}
