$font-primary:    acumin-pro-extra-condensed, sans-serif;
$font-secondary:  "Arial", sans-serif;

$white:   #FFFFFF;
$black:   #000000;

$screen-xxs:  320px;
$screen-xs:   375px;
$screen-sm:   480px;
$screen-md:   768px;
$screen-lg:   992px;
$screen-xl:   1200px;
$screen-xxl:  1400px;

$size-1: 10px;
$size-2: 16px;
$size-3: 26px;
$size-4: 42px;
$size-5: 68px;
$size-6: 110px;