$font-primary: acumin-pro-extra-condensed, sans-serif;
$font-secondary: myriad-pro, sans-serif;
$font-awesome: FontAwesome;

$white: #ffffff;
$black: #000000;
$light-blue: #00adef;

$accent: $light-blue;

$screen-xxs: 320px;
$screen-xs: 375px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

$size-0000: 1px;
$size-000: 2px;
$size-00: 4px;
$size-0: 6px;
$size-1: 10px;
$size-2: 16px;
$size-3: 26px;
$size-4: 42px;
$size-5: 68px;
$size-6: 110px;

$tablet: 768px;
$desktop: 1024px;
$hd: 1280px;
$screen-xxl: 1440px;
