$font-primary:    "Arial", sans-serif;
$font-secondary:  "Arial", sans-serif;

$white:   #FFFFFF;
$black:   #000000;

$screen-xxs:  320px;
$screen-xs:   375px;
$screen-sm:   480px;
$screen-md:   768px;
$screen-lg:   992px;
$screen-xl:   1200px;
$screen-xxl:  1400px;